
<dx-toolbar>
  <dxi-item
    location="before"
    widget="dxButton"
    [options]="opcoesBotaoMenu">
  </dxi-item>
  <dxi-item location="center" text="Mercadão"></dxi-item>
</dx-toolbar>

<div class="layout-principal">
  <dx-drawer
    class="drawer-custom"
    [opened]="menuAberto"
    position="left"
    [minSize]="10"
    [maxSize]="250"
    revealMode="overlap"
    [closeOnOutsideClick]="true"
    (onOptionChanged)="aoAlterarOpcaoDoMenu($event)">

    <dx-list
      *ngIf="menuAberto"
      [items]="itensMenu"
      displayExpr="texto"
      selectionMode="single"
      (onItemClick)="aoClicarItem($event.itemData)">
    </dx-list>

    <div class="conteudo">
      <router-outlet></router-outlet>
    </div>
  </dx-drawer>
</div>
