<div class="containerSimples">

  <div class="menu-container">
    <label class="fonte" (click)="mostrarCamposCadastro()" style="cursor: pointer;">
      Cadastrar Produto
    </label>

    <label class="fonte" (click)="mostrarCamposPesquisa()" style="cursor: pointer;">
      Pesquisar Produto
    </label>
  </div>

  <div *ngIf="mostrarFormularioCadastro" class="formularioCadastro">
    <dx-form [formData]="novoProduto">

      <dxi-item
        dataField="codigoProduto"
        [label]="{text: 'Cód. Prod'}"
        cssClass="label-form-white"
        template="codigoProdutoTemplate">
      </dxi-item>

      <dxi-item
        dataField="valorProduto"
        [label]="{text: 'Valor'}"
        cssClass="label-form-white"
        template="valorProdutoTemplate">
      </dxi-item>

      <dxi-item
        dataField="descricaoProduto"
        [label]="{text: 'Desc. Prod'}"
        cssClass="label-form-white"
        template="descricaoProdutoTemplate">
      </dxi-item>

      <!-------- *dxTemplates  ------------>
      <div *dxTemplate="let data of 'codigoProdutoTemplate'">
        <dx-text-box
          [(value)]="novoProduto.codigoProduto"
          placeholder="Digite o código do Produto"
          [showClearButton]="true">
        </dx-text-box>
      </div>

      <div *dxTemplate="let data of 'valorProdutoTemplate'">
        <dx-number-box
          [(value)]="novoProduto.valorProduto"
          placeholder="R$:"
          [showClearButton]="true">
        </dx-number-box>
      </div>

      <div *dxTemplate="let data of 'descricaoProdutoTemplate'">
        <dx-text-box
          [(value)]="novoProduto.descricaoProduto"
          placeholder="Descrição do Produto"
          [showClearButton]="true">
        </dx-text-box>
      </div>

    </dx-form>
    <dx-button text="SALVAR" type="success" (onClick)="cadastrarCliente()"></dx-button>
  </div>

  <div *ngIf="mostrarFormularioPesquisa" class="formularioPesquisa">
    <dx-form>

      <dxi-item
        dataField="filtroCodigoProduto"
        [label]="{text: 'Cód. Prod.'}"
        cssClass="label-form-white"
        template="filtroCodigoProdutoTemplate">
      </dxi-item>

      <dxi-item
        dataField="filtroDescricaoProduto"
        [label]="{text: 'Desc. Prod.'}"
        cssClass="label-form-white"
        template="filtroDescricaoProdutoTemplate">
      </dxi-item>

      <!-------- *dxTemplates  ------------>
      <div *dxTemplate="let data of 'filtroCodigoProdutoTemplate'">
        <dx-text-box
          [(value)]="filtroCodigoProduto"
          placeholder="Digite o código do Produto"
          [showClearButton]="true">
        </dx-text-box>
      </div>

      <div *dxTemplate="let data of 'filtroDescricaoProdutoTemplate'">
        <dx-text-box
          [(value)]="filtroDescricaoProduto"
          placeholder="Digite o Produto"
          [showClearButton]="true">
        </dx-text-box>
      </div>
    </dx-form>
    <dx-button type="default" text="PESQUISAR" (onClick)="pesquisarProduto()"></dx-button>
  </div>

  <div *ngIf="produtosEncontrados.length > 0" class="resultadoProdutos" style="margin-top: 20px; color: white;">
    <label class="fonte"> Produtos Encontrados</label>

    <dx-data-grid
      [dataSource]="produtosEncontrados"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true">

      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,20]" [showInfo]="true"></dxo-pager>

      <dxi-column dataField="codigoProduto" alignment="center" caption=" Código do Produto"></dxi-column>
      <dxi-column dataField="valorProduto" alignment="center" caption=" Valor do Produto"></dxi-column>
      <dxi-column dataField="descricaoProduto" alignment="center" caption=" Descricão do Produto"></dxi-column>

      <dxi-column type="buttons">
        <dxi-button text="Editar" icon="edit" [onClick]="editarProduto"></dxi-button>
        <dxi-button text="Excluir" icon="trash" [onClick]="detelarProdutoGrid"></dxi-button>
      </dxi-column>

    </dx-data-grid>

    <div *ngIf="mostrarAtualizarCampos" class="resultadoProdutos" style="margin-top: 20px;">
      <label class="fonte" style="color: white;">Atualizar Produto</label>

      <dx-form [formData]="produtoParaAtualizar">
        <dxi-item
          dataField="codigoProduto"
          [label]="{text: 'Atualizar Códgo.'}"
          cssClass="label-form-white"
          template="codigoProdutoAtualizaTemplate">
        </dxi-item>

        <dxi-item
          dataField="valorProduto"
          [label]="{text: 'Atualizar Valor'}"
          cssClass="label-form-white"
          template="valorProdutoAtualizaTemplate">
        </dxi-item>

        <dxi-item
          dataField="descricaoProduto"
          [label]="{text: 'Atualizar Descrição'}"
          cssClass="label-form-white"
          template="descricaoProdutoAtualizaTemplate">
        </dxi-item>

        <!-- Templates -->
        <div *dxTemplate="let data of 'codigoProdutoAtualizaTemplate'">
          <dx-text-box
            [(value)]="produtoParaAtualizar.codigoProduto"
            placeholder="Informe o código"
            [showClearButton]="true">
          </dx-text-box>
        </div>

        <div *dxTemplate="let data of 'valorProdutoAtualizaTemplate'">
          <dx-number-box
            [(value)]="produtoParaAtualizar.valorProduto"
            placeholder="R$:"
            [showClearButton]="true">
          </dx-number-box>
        </div>

        <div *dxTemplate="let data of 'descricaoProdutoAtualizaTemplate'">
          <dx-text-box
            [(value)]="produtoParaAtualizar.descricaoProduto"
            placeholder="Informe a descrição"
            [showClearButton]="true">
          </dx-text-box>
        </div>
      </dx-form>
      <div style="margin-top: 10px; display: flex; gap: 10px;">
        <dx-button type="success" text="ATUALIZAR" (onClick)="atualizarProduto()"></dx-button>
        <dx-button type="danger" text="CANCELAR" (onClick)="cancelarAtualizacao()"></dx-button>
      </div>

    </div>

  </div>

  <div *ngIf="produtoParaDeletar" style="border-radius: 5px; color: white;">
      Deseja realmente excluir <strong>{{ produtoParaDeletar.descricaoProduto }}</strong>?
      <dx-button (click)="confirmarExcluir()" style="margin-left: 10px; color: white; background: #155724">Sim
      </dx-button>
      <dx-button (click)="cancelarExcluir()" style="margin-left: 5px; color: white; background: darkred">Não</dx-button>
  </div>

  <div *ngIf="deletaMostraMensagem" class="mensagem-sucesso"
       style="background: #d4edda; padding: 10px; margin: 10px 0; border-radius: 5px; color: #155724;">
    {{ deletarSucesso }}
    <button (click)="deletaMostraMensagem = false" style="margin-left: 20px; padding: 5px 10px;">Fechar</button>
  </div>
</div>
